.favorites {
  min-height: calc(100vh - 97px);
  padding-top: 40px;

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
  }

  &__requests {
    margin-top: 40px;
  }

  .request {
    height: 47px;
    background-color: #fff;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;

    &:hover {
      background-color: #f1f1f1;

      .request-button {
        display: inline-flex;
      }
    }

    &__query {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }
}

.request-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  height: 47px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
}
.delete-button {
  color: #ff0000;
}

.edit-button,
.execute-button {
  color: #1390e5;
}
