.favorites {
  min-height: calc(100vh - 97px);
  padding-top: 40px;

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
  }

  &__requests {
    margin-top: 40px;
  }

  .request {
    position: relative;
    height: 47px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 0 20px;

    &:hover,
    &:active {
      background-color: #f1f1f1;

      .request-button {
        display: inline-flex;
        pointer-events: all;
      }
      .request__buttons {
        display: block;
      }
    }

    &__query {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
    &__buttons {
      height: 47px;
      width: 100%;
      background-color: #f1f1f1;
      display: none;
      position: absolute;
      right: 0;
    }
  }
}

.request-button {
  pointer-events: none;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding-top: 4px;
  height: 45px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
  &:hover {
    color: yellowgreen;
  }
}
.delete-button {
  top: 0;
  right: 20px;
  color: #ff0000;
}

.execute-button {
  color: #1390e5;
  top: 0;
  right: 210px;
}
.edit-button {
  top: 0;
  right: 90px;
  color: #1390e5;
}
