@media (max-width: 770px) {
  .search {
    .search-input {
      padding-top: 60px;
    }
  }
}
@media (max-width: 740px) {
  .video-info {
    max-width: 330px !important;
  }
}
@media (max-width: 560px) {
  .login {
    .login-form {
      padding: 40px 40px;
    }
  }
  .filter-panel {
    &__list {
      display: none;
    }
    &__grid {
      display: none;
    }
  }
  .modal {
    .modal-button {
      width: 130px !important;
    }
    .ant-input-number {
      width: 53px;
      &-input {
        padding: 0 6px;
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    &__logo {
      display: none;
    }
    &__exit {
      width: 100px !important;
    }
    .nav__link {
      margin-right: 20px;
    }
  }
  .search {
    .search-input {
      .ant-input-search-button {
        width: 70px;
        height: 52px;
      }
      .ant-input-lg {
        padding-right: 10px;
      }
      &__button {
        right: 80px;
      }
    }
    .search-result {
      .filter-panel {
        position: relative;
        &__video-count {
          display: block;
          margin-left: 0;
        }
        &__list {
          top: 24px;
        }
        &__grid {
          top: 24px;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .modal-wrapper {
    .modal {
      height: 560px;
      padding: 20px 20px;
    }
  }
}
